<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.system.authorization.mapper.RoleMapper" >

    <sql id="Base_Columns">
        ID,
        ROLE_CODE,
        ROLE_NAME,
        DESCRIPTION,
        ACTIVE,
        ROLE_TYPE
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{roleCode, jdbcType=VARCHAR},
        #{roleName, jdbcType=VARCHAR},
        #{description, jdbcType=VARCHAR},
        #{active, jdbcType=VARCHAR},
        #{roleType, jdbcType=VARCHAR}
    </sql>


    <select id="findUserRoles" resultType="com.github.tanxinzheng.module.system.authorization.domain.dto.RoleDTO">
        SELECT
            r.ID,
            r.ROLE_CODE,
            r.ROLE_NAME,
            r.DESCRIPTION,
            r.ACTIVE,
            r.ROLE_TYPE
        FROM
        xmo_role r
        LEFT JOIN xmo_user_role_relation urr ON urr.ROLE_ID = r.id
        <where>
            <if test="isRelate">
                urr.USER_ID = #{userId}
            </if>
            <if test="!isRelate">
                NOT EXISTS ( SELECT ROLE_ID FROM xmo_user_role_relation WHERE user_id = #{userId} and r.id = ROLE_ID )
            </if>
        </where>
    </select>

</mapper>