<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.menu.mapper.MenuMapper" >

    <insert id="insertSelective" parameterType="com.github.tanxinzheng.module.menu.model.Menu" useGeneratedKeys="true" keyProperty="id" keyColumn="id" >
        <selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
            SELECT replace(UUID(),'-','')
        </selectKey>
        insert into xmo_menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
        id,
                <if test="code != null" >
                    code,
                </if>
                <if test="title != null" >
                    title,
                </if>
                <if test="parentId != null" >
                    parent_id,
                </if>
                <if test="url != null" >
                    url,
                </if>
                <if test="icon != null" >
                    icon,
                </if>
                <if test="sort != null" >
                    sort,
                </if>
                <if test="description != null" >
                    description,
                </if>
                <if test="enable != null" >
                    `enable`,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
        #{id, jdbcType=VARCHAR},
                <if test="code != null" >
                #{code, jdbcType=VARCHAR},
                </if>
                <if test="title != null" >
                #{title, jdbcType=VARCHAR},
                </if>
                <if test="parentId != null" >
                #{parentId, jdbcType=VARCHAR},
                </if>
                <if test="url != null" >
                #{url, jdbcType=VARCHAR},
                </if>
                <if test="icon != null" >
                #{icon, jdbcType=VARCHAR},
                </if>
                <if test="sort != null" >
                #{sort, jdbcType=INTEGER},
                </if>
                <if test="description != null" >
                #{description, jdbcType=VARCHAR},
                </if>
                <if test="enable != null" >
                #{enable, jdbcType=VARCHAR},
                </if>
        </trim>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
        delete from xmo_menu where id = #{id}
    </delete>

    <delete id="deletesByPrimaryKey" parameterType="java.util.ArrayList" >
        delete from xmo_menu where id IN
        <foreach collection="ids" item="item" separator="," open="(" close=")">
        #{item}
        </foreach>
    </delete>

    <update id="updateSelective" parameterType="com.github.tanxinzheng.module.menu.model.Menu" >
        update xmo_menu
        <set>
            <if test="id != null" >
            id = #{id, jdbcType=VARCHAR},
            </if>
            <if test="code != null" >
            code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="title != null" >
            title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="parentId != null" >
            parent_id = #{parentId, jdbcType=VARCHAR},
            </if>
            <if test="url != null" >
            url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="icon != null" >
            icon = #{icon, jdbcType=VARCHAR},
            </if>
            <if test="sort != null" >
            sort = #{sort, jdbcType=INTEGER},
            </if>
            <if test="description != null" >
            description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="enable != null" >
            `enable` = #{enable, jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateSelectiveByQuery" parameterType="map" >
        update xmo_menu
        <set >
            <if test="record.id != null" >
            id = #{id, jdbcType=VARCHAR},
            </if>
            <if test="record.code != null" >
            code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="record.title != null" >
            title = #{title, jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null" >
            parent_id = #{parentId, jdbcType=VARCHAR},
            </if>
            <if test="record.url != null" >
            url = #{url, jdbcType=VARCHAR},
            </if>
            <if test="record.icon != null" >
            icon = #{icon, jdbcType=VARCHAR},
            </if>
            <if test="record.sort != null" >
            sort = #{sort, jdbcType=INTEGER},
            </if>
            <if test="record.description != null" >
            description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="record.enable != null" >
            `enable` = #{enable, jdbcType=VARCHAR},
            </if>
        </set>
        <if test="query != null" >
            <include refid="Update_By_Query_Where_Clause"/>
        </if>
    </update>

    <!--    查询消息    -->
    <select id="select"
            resultType="com.github.tanxinzheng.module.menu.model.Menu"
            parameterType="com.github.tanxinzheng.module.menu.model.MenuQuery">
        SELECT * FROM xmo_menu
        <include refid="Update_By_Query_Where_Clause"/>
        ORDER BY id
    </select>

    <select id="selectByPrimaryKey"
            resultType="com.github.tanxinzheng.module.menu.model.Menu"
            parameterType="java.lang.String">
        SELECT * FROM xmo_menu WHERE id = #{id}
    </select>

    <select id="selectModelByPrimaryKey"
            resultType="com.github.tanxinzheng.module.menu.model.MenuModel"
            parameterType="java.lang.String">
        SELECT * FROM xmo_menu WHERE id = #{id}
    </select>

    <select id="selectModel"
            resultType="com.github.tanxinzheng.module.menu.model.MenuModel"
            parameterType="com.github.tanxinzheng.module.menu.model.MenuQuery">
        SELECT * FROM xmo_menu
        <include refid="Update_By_Query_Where_Clause"/>
        ORDER BY id
    </select>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <if test="keyword">
                AND id LIKE CONCAT('%', #{keyword}, '%')
            </if>
            <if test="id">
                AND id = #{id}
            </if>
            <if test="ids">
                AND id IN
                <foreach collection="ids" item="item" separator="," open="(" close=")">
                #{item}
                </foreach>
            </if>
            <if test="excludeIds">
                AND id NOT IN
                <foreach collection="excludeIds" item="item" separator="," open="(" close=")">
                #{item}
                </foreach>
            </if>
        </where>
    </sql>

</mapper>