<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.notification.mapper.NotificationSendMapper" >

    <sql id="Base_Columns">
        id,
        notification_id,
        sender,
        send_time,
        data_state
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{notificationId, jdbcType=VARCHAR},
        #{sender, jdbcType=VARCHAR},
        #{sendTime, jdbcType=TIMESTAMP},
        #{dataState, jdbcType=VARCHAR}
    </sql>

</mapper>