<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.notification.mapper.NotificationMapper" >

    <sql id="Base_Columns">
        ID,
        NOTIFICATION_TYPE,
        TEMPLATE_ID,
        TITLE,
        BODY
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{notificationType, jdbcType=VARCHAR},
        #{templateId, jdbcType=VARCHAR},
        #{title, jdbcType=VARCHAR},
        #{body, jdbcType=VARCHAR}
    </sql>

    <select id="countNotificationState"
            parameterType="com.github.tanxinzheng.module.notification.model.NotificationQuery"
            resultType="com.github.tanxinzheng.module.notification.model.NotificationStateCount">
        SELECT
        r.data_state,
        COUNT(r.data_state) number
        FROM
        xmo_notification_receive r
        WHERE r.RECEIVER = #{userId}
        GROUP BY DATA_STATE
    </select>

</mapper>