<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.notification.mapper.NotificationTemplateMapper" >

    <sql id="Base_Columns">
        ID,
        TEMPLATE_CODE,
        TEMPLATE_TITLE,
        TEMPLATE_BODY,
        TEMPLATE_NAME
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{templateCode, jdbcType=VARCHAR},
        #{templateTitle, jdbcType=VARCHAR},
        #{templateBody, jdbcType=VARCHAR},
        #{templateName, jdbcType=VARCHAR}
    </sql>

</mapper>