<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.tanxinzheng.module.notification.mapper.NotificationReceiveMapper" >

    <sql id="Base_Columns">
        id,
        notification_id,
        receive_time,
        receiver,
        data_state
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{notificationId, jdbcType=VARCHAR},
        #{receiveTime, jdbcType=TIMESTAMP},
        #{receiver, jdbcType=VARCHAR},
        #{dataState, jdbcType=VARCHAR}
    </sql>

    <select id="selectNotification"
            parameterType="com.github.tanxinzheng.module.notification.model.NotificationQuery"
            resultType="com.github.tanxinzheng.module.notification.model.NotificationModel">
        SELECT
            s.sender,
            s.`SEND_TIME`,
            r.data_state,
            n.*
        FROM
            xmo_notification n
        LEFT JOIN xmo_notification_receive r ON r.`NOTIFICATION_ID` = n.`ID`
        LEFT JOIN `xmo_notification_send` s ON s.`NOTIFICATION_ID` = n.`ID`
        <where>
            <if test="userId">
                AND r.`RECEIVER` = #{userId}
            </if>
            <if test="dataState">
                AND r.data_state = #{dataState}
            </if>
            <if test="id">
                AND n.id = #{id}
            </if>
        </where>
    </select>



</mapper>